.search-container {
    /* justify-content: center;
    margin-bottom: 24px;
    
    align-items: center; */
    margin-left: 45%;
    margin-right:45%;
   }
   .search-container input {
    height: 32px;
    width: 300px;
    padding: 0px 12px 0px 12px;
    border: 2px solid  rgb(174, 135, 135);

   }